body{
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
::-webkit-scrollbar{
  width:10px;
}
::-webkit-scrollbar-track{
  background: white;
}
::-webkit-scrollbar-thumb{
  background:black;
}
.layout{
  display: flex;
  width: 100vw;
}

.right{
  width:100%;
  text-align: center;
}
.productsDiv{
  width:100% ;
  margin: 10px;
}